<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
        {% if id %}
            {% if selected_state %}
                <H1>State: {{ selected_state.name }}</H1>
                <H3>Cities:</H3>
                <UL>
                    {% for city in selected_state.cities|sort(attribute='name')%}
                        <LI>{{ city.id }}: <B>{{ city.name }}</B></LI>
                    {% endfor %}
                </UL>
            {% else %}
                <H1>Not found!</H1>
            {% endif %}
        {% else %}
            <H1>States</H1>
            <UL>
            {% for state in states|sort(attribute='name') %}
                <LI>{{ state.id }}: <B>{{ state.name }}</B></LI>
            {% endfor %}
            </UL>
        {% endif %}
    </BODY>
</HTML>
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>AirBnB clone</title>

		<link rel="shortcut icon" href="../static/images/icon.ico" >

		<link rel="stylesheet" href="../static/styles/4-common.css"/>
		<link rel="stylesheet" href="../static/styles/3-header.css"/>
		<link rel="stylesheet" href="../static/styles/3-footer.css"/>
		<link rel="stylesheet" href="../static/styles/6-filters.css"/>
	</head>
    <body>
		<header>
			<div id="header_logo"></div>
		</header>
		<div class="container">
			<section class="filters">
				<div class="locations">
                    <div class="location-headings">
                        <h3>States</h3>
                        <h4>&nbsp;</h4>
                    </div>
					<ul class="popover">
                    {% for state in states|sort(attribute='name') %}
                        <li>
                            <h2>{{ state.name }}</h2>
                            <ul>
                            {% for city in state.cities|sort(attribute='name') %}
                                <li>{{ city.name }}</li>
                            {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
					</ul>
				</div>
				<div class="amenities">
                    <div class="location-headings">
                        <h3>Amenities</h3>
                        <h4>&nbsp;</h4>
                    </div>
					<ul class="popover">
                    {% for amenity in amenities|sort(attribute='name') %}
						<li>{{ amenity.name }}</li>
                    {% endfor %}
					</ul>
				</div>
                <button>Search</button>
			</section>
		</div>
		<footer>Holberton School</footer>
	</body>
</html>
